#login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 2%;
  z-index: 2000;
  text-align: center;
}

#login-modal .background-white {
  background-color: white;
}

#login-modal header {
  background-color: white;
  display: grid;
  padding-left: 14px;
  align-items: center;
  grid-template-columns: auto 60px;
}

#login-modal div.error {
  color: red;
  font-style: italic;
  font-size: small;
  text-align: left;
}

#login-modal div.generalerror {
  color: red;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin-top: -8px;
  margin-bottom: 10px;
}

#login-modal article {
  min-width: 375px;
}

#login-modal h3 {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#login-modal button.close {
  color: black;
  font-weight: 800;
  background: transparent;
  border: none;
  font-size: 24px;
  margin-left: 16px;
}
