/**
 * Primary style sheet
 * Resets and normalize are included in index.scss
 * All display variables are in _displaysettings.scss
 *
 * Contents of this file:
 *
 * CH01 - Fonts
 * CH02 - Buttons and Toggles
 * CH03 - Modals
 * Overall Layout controls where header, footer, and main section of page is - and
 * overall dimensions of these. Layout inside of these elements is in respective sections
 * CH04 - Overall Layout and General
 * CH05 - Header and Nav Styles
 * CH06 - Footer Styles
 * Anything covered in an above section - like fonts - in one of the
 * pages is in the fonts - not the page section below
 * CH07 - Main Game Page
 * CH08 - Setup Page
 * CH09 - Hebrew Alphabet Table Page
 * CH10 - High Scores Page
 * CH11 - Media Queries
 * 
**/
@use 'displaysettings' as d;
@use 'mixins' as m;

/**
 * CH01 - Fonts
**/
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('./OpenSansHebrewFont/OpenSansHebrew-Regular.eot'); /* IE9 Compat Modes */
  src: /*IE6-IE8 */ url('./OpenSansHebrewFont/OpenSansHebrew-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */
      url('./OpenSansHebrewFont/OpenSansHebrew-Regular.woff2') format('woff2'),
    /* Modern Browsers */
      url('./OpenSansHebrewFont/OpenSansHebrew-Regular.woff') format('woff'),
    /* Safari, Android, iOS */
      url('./OpenSansHebrewFont/OpenSansHebrew-Regular.ttf') format('truetype'),
    /* Legacy iOS */
      url('./OpenSansHebrewFont/OpenSansHebrew-Regular.svg#OpenSansHebrew-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital Font';
  src: url('./DigitalFont/DigitalFont.eot'); /* IE9 Compat Modes */
  src: /*IE6-IE8 */ url('./DigitalFont/DigitalFont.eot?#iefix')
      format('embedded-opentype'),
    /* Super Modern Browsers */ url('./DigitalFont/DigitalFont.woff2')
      format('woff2'),
    /* Modern Browsers */ url('./DigitalFont/DigitalFont.woff') format('woff'),
    /* Safari, Android, iOS */ url('./DigitalFont/DigitalFont.ttf')
      format('truetype'),
    /* Legacy iOS */ url('./DigitalFont/DigitalFont.svg#DigitalFont')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.aramaicBiblicalSerif {
  font-family: d.$font-hebrew-serif;
  @include m.hebrew-syntax;
}

.aramaicBiblicalSansSerif {
  font-family: d.$font-hebrew-sans-serif;
  @include m.hebrew-syntax;
}

.paleoHebrew {
  font-family: d.$font-hebrew-paleo;
  @include m.hebrew-syntax;
}

.modernCursive > img {
  width: 1.25rem;
}

.transliteration {
  font: {
    family: d.$font-hebrew-serif;
    size: 2rem;
  }
}

/**
 * CH02 - Buttons and Toggles
**/
button {
  cursor: pointer;
}

.button-3d {
  padding: 0.3125rem;
  background: linear-gradient(
    to bottom,
    #e2e2e2 0%,
    #dbdbdb 50%,
    #d1d1d1 51%,
    #fefefe 100%
  );
}

.toggle-input {
  padding: 4px 0px;
  text-align: left;

  label {
    button {
      width: 23px;
      height: 23px;
      display: inline-block;
      text-align: center;
      line-height: 20px;
      margin-right: 6px;
      border-radius: 3px;
      border: none;
      background-color: white;
    }

    svg {
      font-size: 18px;
      color: black;
      margin-left: -4px;
      padding-top: 2px;
    }
  }
}

/**
 * CH03 - Modals
**/
.display-block {
  display: block;
}

.display-none {
  display: none;
}

#game-modal,
#error-modal {
  @include m.modal-setup;
  z-index: 2000;

  .modal-content {
    width: 95vw;
    max-width: 300px;
    height: 90vh;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 4px;
    background-color: d.$color-game-modal-background;
  }

  header {
    display: grid;
    padding-left: 14px;
    grid-template-columns: auto 60px;
    height: 40px;
    color: d.$color-game-modal-header-text;
    background-color: d.$color-game-modal-header-background;
  }

  h3 {
    margin: 0;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
  }

  .close {
    @include m.close-button;
    height: 100%;
    width: 100%;
    font-size: 24px;
    padding: 10px;
    margin-top: -14px;
    margin-left: 14px;
    color: d.$color-game-modal-close-button;
  }

  .footer-button {
    padding: 8px 16px;
  }

  .modal-main {
    flex: 1;
    text-align: center;
    overflow: auto;
    padding: 14px;
  }

  footer {
    height: auto;
    padding: 14px;
    border-top: solid 1px d.$color-game-modal-footer-border;
    background-color: d.$color-game-modal-footer-background;
  }
}

#login-modal {
  @include m.modal-setup;
  text-align: center;

  .background-white {
    background-color: white;
  }

  header {
    background-color: white;
    display: grid;
    padding-left: 14px;
    align-items: center;
    grid-template-columns: auto 60px;
  }

  div {
    &.error {
      color: red;
      font-style: italic;
      font-size: small;
      text-align: left;
    }

    &.generalerror {
      color: red;
      text-align: center;
      font-style: italic;
      font-size: smaller;
      margin-top: -8px;
      margin-bottom: 10px;
    }
  }
  article {
    min-width: 375px;
  }

  h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  .close {
    @include m.close-button;
    color: black;
    font-weight: 800;
    font-size: 24px;
    margin-left: 16px;
  }
}

/**
 * CH04 - Overall Layout and General
**/
body {
  background-color: d.$color-main-body-background;
  font-family: d.$font-body-mobile;
  font-size: 100%;
}

main {
  padding-bottom: 3.75rem;
}

#main-site-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.9375rem 1.5625rem;
  height: 3.125rem;
}

/**
 * CH05 - Header and Nav Styles
**/

#main-site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: d.$color-main-header-background;

  h1 {
    font: {
      size: 18px;
      weight: lighter;
      family: d.$font-header-nav;
    }
    color: d.$color-main-header-title-text;
    text-shadow: 0 -1px 0 d.$color-main-header-title-shadow-1,
      0 1px 0 d.$color-main-header-title-shadow-2,
      0 2px 0 d.$color-main-header-title-shadow-3,
      0 3px 0 d.$color-main-header-title-shadow-4,
      0 4px 0 d.$color-main-header-title-shadow-5,
      0 5px 0 d.$color-main-header-title-shadow-6,
      0 6px 0 d.$color-main-header-title-shadow-7;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: d.$font-header-nav;

    li {
      display: inline;

      a,
      button {
        text-decoration: none;
        display: block;
        padding: 5px 10px;
        float: left;
        text-align: center;
        background: d.$color-main-nav-button-background;
        color: d.$color-main-nav-button-text;
        border-top: 2px solid d.$color-main-nav-button-border-top-and-left;
        border-right: 2px solid d.$color-main-nav-button-border-right-and-bottom;
        border-bottom: 2px solid
          d.$color-main-nav-button-border-right-and-bottom;
        border-left: 2px solid d.$color-main-nav-button-border-top-and-left;
      }

      a,
      button {
        &:hover,
        &.active {
          background: d.$color-main-nav-button-active-background;
          color: d.$color-main-nav-button-active-text;
          border-top: 2px solid
            d.$color-main-nav-button-active-border-top-and-left;
          border-right: 2px solid
            d.$color-main-nav-button-active-border-right-and-bottom;
          border-bottom: 2px solid
            d.$color-main-nav-button-active-border-right-and-bottom;
          border-left: 2px solid
            d.$color-main-nav-button-active-border-top-and-left;
        }
      }
    }
  }
}

#main-site-logo {
  padding-left: 20px;
}

/**
 * CH06 - Footer Styles
**/

#main-site-footer {
  display: flex;
  justify-content: space-between;
  background: d.$color-main-footer-background;
  color: d.$color-main-footer-text;

  a {
    text-decoration: none;
    color: d.$color-main-footer-anchor;
  }

  address {
    font-style: normal;
  }

  small {
    font-size: 14px;
  }

  p {
    margin: 0;
    display: inline;
  }
}

/**
 * CH07 - Main Game Page
**/

#game-board {
  margin: 2rem auto;
  max-width: 40rem;
  padding: 0.2rem;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.5);
  background-color: d.$color-game-board-background;
  border: 1px solid d.$color-game-board-border;
  border-radius: 6px;
}

#inner-game {
  padding: 3rem;
}

#game-bar {
  display: flex;
  justify-content: space-between;
}

#game-question {
  p {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
  }

  button {
    margin: 2px;
    margin: 0;

    &:hover {
      background-color: d.$color-button-game-hover;
    }
  }
}

#game-info {
  display: flex;
  justify-content: space-between;

  .element {
    padding: 8px;
  }

  p {
    margin: 0;
    display: inline;
  }
}

#random-choice {
  #guess {
    margin: 20px auto 0 auto;
    padding: 5px;
    text-align: center;
    direction: rtl;
    font-size: 55px;
    width: 80px;
    height: 80px;
    position: relative;
    border: 1px solid d.$color-game-question-character-border;
    color: d.$color-game-question-character;
    border-radius: 6px;
  }

  .font-name {
    font-size: 11pt;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 6px 0px;
    color: d.$color-game-question-font-name;
  }
}

/**
* CH08 - Setup Page
**/

#setup {
  .groupboxes {
    margin: 0;

    > h3 {
      margin-left: 8px;
      text-align: left;
    }
  }

  .layout {
    display: grid;
    grid-template-columns: 15.5em 15.5em;
    grid-gap: 0.5em;
    margin: 0 auto;
    align-items: start;
    width: 31.5em;
    justify-items: left;
  }

  .data {
    grid-row: span 2;
  }
}

/**
* CH09 - Hebrew Alphabet Table Page
**/

#hebrew-alphabet {
  .nobreak {
    white-space: nowrap;
  }

  table.alphabet-table {
    border-collapse: collapse;
    border: 2px solid d.$color-alphabet-table-border-main;
    margin: 0 auto;

    td,
    th {
      width: 80px;
      padding: 2px 5px;
      border: 1px solid d.$color-alphabet-table-border-cell;
    }

    th {
      font-size: 18px;
    }

    thead {
      border: 2px solid d.$color-alphabet-table-border-header;
    }

    caption {
      text-align: left;
      font: {
        size: smaller;
        style: italic;
      }
    }
  }
}

/**
* CH10 - High Scores Page
**/

#high-scores {
  margin: 40px auto 0 auto;
}

#high-scores-table {
  width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 5px solid d.$color-scores-table-border;

  .top-row {
    font-size: 25px;
    letter-spacing: 2px;
    background-color: d.$color-scores-table-top-row-background;
    color: d.$color-scores-table-top-row-text;

    th {
      padding-top: 10px;
    }
  }

  .second-row {
    background-color: d.$color-scores-table-heading-row-background;
    color: d.$color-scores-table-heading-row-text;

    th {
      padding-top: 15px;
    }
  }

  tr {
    &.first {
      color: d.$color-scores-table-first-row-text;
    }

    &.other {
      color: d.$color-scores-table-other-row-text;
    }

    &.datarow {
      &:nth-child(even) {
        background-color: d.$color-scores-table-even-row-background;
      }

      &:nth-child(odd) {
        background-color: d.$color-scores-table-odd-row-background;
      }

      > td {
        padding-top: 4px;
        padding-bottom: 4px;
      }

      &:last-child > td {
        padding-bottom: 15px;
      }
    }
  }

  td,
  th {
    vertical-align: top;
  }

  th {
    padding-bottom: 10px;
  }

  .rank-col {
    width: 10px;
    padding: 0px 2px;
    text-align: left;
  }

  .trophycol {
    width: 10px;
    padding: 0px 5px;
  }
  .score-col {
    width: 100px;
    padding: 0px 50px 0px 5px;
    text-align: right;
  }

  .name-col {
    width: 150px;
    padding: 0px 5px;
    text-align: left;
  }

  .goldtrophy {
    color: d.$color-scores-trophy-gold;
  }

  .silvertrophy {
    color: d.$color-scores-trophy-silver;
  }

  .bronzetrophy {
    color: d.$color-scores-trophy-bronze;
  }
}

/**
* CH11 - Media Queries
**/

@media screen and (min-width: 600px) {
  body {
    font-family: d.$font-body-desktop;
  }
}
