/* Most styles in App.css - only styles related to normalizing and resetting in here */

html {
  box-sizing: border-box;
}

html,
body,
:root,
#root,
.App {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  text-align: center;
  align-items: center;
}

input[type] {
  text-align: left;
}

:root {
  font-size: 16px;
}
