#hebrew-alphabet table.alphabet-table {
  border-collapse: collapse;
  border: 2px solid #333;
}

#hebrew-alphabet table.alphabet-table td,
#hebrew-alphabet table.alphabet-table th {
  border: 1px solid #777;
  width: 80px;
  padding: 2px 5px;
}

#hebrew-alphabet table.alphabet-table thead {
  border: 2px solid #333;
}

#hebrew-alphabet table.alphabet-table th {
  font-size: 18px;
}

#hebrew-alphabet .alphabet-table {
  margin: 0 auto;
}

#hebrew-alphabet {
  text-align: center;
}
