.toggle-input label button {
  width: 23px;
  height: 23px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  margin-right: 6px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.toggle-input {
  padding: 4px 0px;
}

.toggle-input label svg {
  font-size: 18px;
  color: black;
  margin-left: -4px;
  padding-top: 2px;
}

.toggle-input label:hover button {
  background: #a37666;
}
