#main-site-footer {
  position: fixed;
  background: #343a40;
  color: #686868;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 25px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#main-site-footer a {
  text-decoration: none;
  color: #dbe7f0;
}

#main-site-footer address {
  font-style: normal;
}

#main-site-footer small {
  font-size: 14px;
}

#main-site-footer p {
  margin: 0;
  display: inline;
}
