#high-scores > h2 {
  text-align: center;
}

#high-scores {
  margin: 40px auto 0 auto;
}

#high-scores-table {
  border: 5px solid darkcyan;
  border-radius: 30px;
  width: 500px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#high-scores-table .top-row > th {
  padding-top: 10px;
}

#high-scores-table .second-row > th {
  padding-top: 15px;
}

#high-scores-table tr.top-row {
  font-size: 25px;
  text-align: center;
  background-color: #777;
  color: white;
  letter-spacing: 2px;
}

#high-scores-table td,
#high-scores-table th {
  vertical-align: top;
}

#high-scores-table th {
  padding-bottom: 10px;
}

#high-scores-table .rank-col {
  width: 10px;
  padding: 0px 2px;
  text-align: left;
}

#high-scores-table .trophycol {
  width: 10px;
  padding: 0px 5px;
}

#high-scores-table .score-col {
  width: 100px;
  padding: 0px 50px 0px 5px;
  text-align: right;
}

#high-scores-table .name-col {
  width: 150px;
  padding: 0px 5px;
  text-align: left;
}

#high-scores-table .second-row {
  background-color: #555;
  color: #ccc;
}

#high-scores-table tr.datarow > td {
  padding-top: 4px;
  padding-bottom: 4px;
}

#high-scores-table tr.datarow:nth-child(even) {
  background-color: #555;
}

#high-scores-table tr.datarow:last-child > td {
  padding-bottom: 15px;
}

#high-scores-table tr.datarow:nth-child(odd) {
  background-color: #333;
}

#high-scores-table tr.first {
  color: limegreen;
}

#high-scores-table tr.other {
  color: white;
}

#high-scores-table .goldtrophy {
  color: #ffd700;
}

#high-scores-table .silvertrophy {
  color: #c0c0c0;
}

#high-scores-table .bronzetrophy {
  color: #cd7f32;
}
