#game-question p {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
}

#game-question button {
  margin: 2px;
  margin: 0;
}

#game-question button:hover {
  background-color: #f8dfdf;
}

#game-options {
  text-align: center;
}
