#game-board {
  background-color: #f4f5e2;
  border: 1px solid #3d3331;
  border-radius: 6px;
  margin: 3rem auto;
  max-width: 40rem;
  padding: 0.2rem;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.5);
}

#inner-game {
  padding: 3rem;
}
