$color-primary-0: #6d288d; // Main Primary color */
$color-primary-1: #9f68b9;
$color-primary-2: #7f419d;
$color-primary-3: #561575;
$color-primary-4: #40065b;

$color-secondary-1-0: #ad2b6f; // Main Secondary color (1) */
$color-secondary-1-1: #d876aa;
$color-secondary-1-2: #c04a88;
$color-secondary-1-3: #8f1455;
$color-secondary-1-4: #70023c;

$color-secondary-2-0: #4a3091; // Main Secondary color (2) */
$color-secondary-2-1: #8570bd;
$color-secondary-2-2: #6049a2;
$color-secondary-2-3: #351d79;
$color-secondary-2-4: #220c5e;
